body {
    background-color: white;
}

.todoLists {
    display: flex;
    flex-wrap: wrap;
}

.addItem {
    margin-left: 20px;
}

.titleInput {
    font-size: 22px;
    text-transform: uppercase;
}

.addTodoList {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
    margin-left: 30px;
}

.titleTodoList {
    font-size: 22px;
}

.todoLists {
    display: flex;
    justify-content: space-evenly;
}

.todoLists > div {
    margin: 30px;
}

.isDone > .editableSpan {
    opacity: 0.5;
}

.activeFilter {
    width: 30%;
    padding: 3px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    background-color: transparent;
    color: black;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.error {
    width: 80%;
    border: 2px solid red;
    outline: none;
    display: flex;
    justify-content: space-between;
}

.container {
    width: 40%;
    max-width: 300px;
    border: 3px solid dodgerblue;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 30px;
    align-self: flex-start;
    background-color: white;
}

.inputTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input {
    width: 80%;
}

.header {
    display: flex;
    align-items: center;
}

.btnAddTask {
    margin-left: 10px;
    width: 40px;
    line-height: 0;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
}

.btnAddTask:hover {
    background-color: transparent;
    color: black;
}

.checkbox {
    margin-right: 15px;
}

.btnDel {
    margin-left: 20px;
    line-height: 0;
    padding: 0;
    border: 1px solid black;
    border-radius: 50%;
    background-color: transparent;
    color: black;
}

.btnDel:hover {
    border: 1px solid rgba(0, 0, 0, 0.6);
}

.tasks li {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
}

.tasks li:first-child {
    margin-top: 0;
}

.filter {
    display: flex;
    justify-content: space-between;
}

.btnFilter {
    width: 30%;
    padding: 8px;
    border: 1px solid dodgerblue;
    border-radius: 5px;
    background-color: dodgerblue;
    color: white;
    font-size: 14px;
}

.btnFilter:hover {
    background-color: rgba(30, 144, 255, 0.9);
    color: white;
}

.tasks {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.editMode {
    outline: none;
}