body {
    background-color: white;
}

.addTodoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.titleInput {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.todoLists {
    display: flex;
    column-gap: 5%;
    flex-wrap: wrap;
    margin: auto;
    flex: 0 0 33.33%;
}

@media (max-width: 1200px) {
    .todoLists {
        justify-content: space-between;
        flex: 0 0 50%;
        flex-wrap: wrap;
    }
}

@media (max-width: 640px) {
    .todoLists {
        flex-direction: column;
        align-items: center;
    }
}

.isDone > .editableSpan {
    opacity: 0.5;
}

.activeFilter {
    /*width: 30%;*/
    /*padding: 3px;*/
    /*border: 1px solid dodgerblue;*/
    /*border-radius: 5px;*/
    /*background-color: transparent;*/
    /*color: black;*/
}

.wrapper {
    /*display: flex;*/
    /*flex-direction: column;*/
}

.error {
    width: 80%;
    border: 2px solid red;
    outline: none;
    display: flex;
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    /*width: 40%;*/
    /*max-width: 300px;*/
    /*border: 3px solid dodgerblue;*/
    /*box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);*/
    /*padding: 20px;*/
    /*border-radius: 30px;*/
    /*align-self: flex-start;*/
    /*background-color: white;*/
}

@media (max-width: 1200px) {
    .container {
        max-width: 640px;
    }
}

.inputTask {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.input {
    /*width: 85%;*/
    /*margin-right: 25px;*/
}

.header {
    display: flex;
    align-items: center;
}

.btnAddTask {
    /*margin-left: 10px;*/
    /*width: 40px;*/
    /*line-height: 0;*/
    /*border: 1px solid dodgerblue;*/
    /*border-radius: 5px;*/
    /*background-color: dodgerblue;*/
    /*color: white;*/
}

.btnAddTask:hover {
    /*background-color: transparent;*/
    /*color: black;*/
}

.checkbox {
    /*margin-right: 15px;*/
}

.btnDel {
    /*margin-left: 20px;*/
    /*line-height: 0;*/
    /*padding: 0;*/
    /*border: 1px solid black;*/
    /*border-radius: 50%;*/
    /*background-color: transparent;*/
    /*color: black;*/
}

.btnDel:hover {
    /*border: 1px solid rgba(0, 0, 0, 0.6);*/
}

.tasks li {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.tasks li:first-child {
    margin-top: 0;
}

.filter {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1200px) {
    .filter {
        flex-direction: column;
    }

    .filter Button {
        width: 100%;
        margin-bottom: 10px;
    }

    .filter Button:last-child {
        margin-bottom: 0;
    }
}

.btnFilter {
    /*width: 30%;*/
    /*padding: 8px;*/
    /*border: 1px solid dodgerblue;*/
    /*border-radius: 5px;*/
    /*background-color: dodgerblue;*/
    /*color: white;*/
    /*font-size: 14px;*/
}

.btnFilter:hover {
    /*background-color: rgba(30, 144, 255, 0.9);*/
    /*color: white;*/
}

.tasks {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.editMode {
    outline: none;
    margin-right: 7px;
    margin-left: 3px;
}

.editableSpan {
    word-break: break-all;
    margin-right: 7px;
    margin-left: 5px;
}

.titleTodoList {
    /*font-size: 22px;*/
    /*margin-right: 4px;*/
}